
.about-title {
    font-size: 1.6rem;
    font-weight: 900;
    background-color: black;
    color: #fff;
    letter-spacing: 2px;
    min-height: 5rem;
    text-align: center;
    padding-top: 1rem;
    font-family: 'notable';
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;

    hr {
        margin-top: 1.5rem;
        border-top: 1px solid #fff;
    }

    span {
        background-color: black;
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.about-wrapper {
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    padding-top: 2rem;
}

.bold {
    font-weight: 700;
}

.row {
    margin-bottom: 1rem;
    align-items: baseline;

    i {
        margin-right: 10px;
        font-size: 1.3rem;
    }

    .icon-1 { color: #0049B7; }
    .icon-2 { color: var(--color-primary-orange) }
    .icon-3 { color: var(--color-primary-blue) }
    .icon-4 { color: deeppink; }
    .icon-5 { color: #68d388; }
    .icon-6 { color: red }
}

@media only screen
and (max-width: 450px)
and (orientation: portrait) {
    .card-container {
        height: auto;
    }
}
