<div class="container-fluid card-container override-scroll">
    <div class="about-title">
        <div class="title-wrapper">
            <hr>
            <span class="span">About</span>
        </div>
    </div>
    <div class="about-wrapper">
        <div class="row">
            <div class="col-sm-2">
                <i class="fas fa-signature"></i>
            </div>
            <div class="col-sm-10">
                <div class="detail">
                    <span class="bold">Prince Kumar</span>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-2">
                <i class="fas fa-calendar-check icon-1"></i>
            </div>
            <div class="col-sm-10">
                <div class="detail">
                    <div class="bold">Born on</div>
                    <div>September 27th, 1997</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <i class="fas fa-home icon-2"></i>
            </div>
            <div class="col-sm-10">
                <div class="detail">
                    <div class="bold">From </div>
                    <div>Jharkhand, India</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <i class="fas fa-location-arrow icon-3"></i>
            </div>
           <div class="col-sm-10">
            <div class="detail">
                <div class="bold">Currently in </div>
                <div>Bangalore, India</div>
            </div>
           </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <i class="fas fa-university icon-4"></i>
            </div>
            <div class="col-sm-10">
                <div class="detail">
                    <div class="bold">Studied </div>
                    <div>Bachelor of technology</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <i class="fas fa-globe icon-5"></i>
            </div>
            <div class="col-sm-10">
                <div class="detail">
                    <div class="bold">Works at</div>
                    <div>Openstream Technologies</div>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-sm-2">
                <i class="fas fa-heart icon-6"></i>
            </div>
            <div class="col-sm-10">
                <div class="detail">
                    <div class="bold"> Relationship Status </div>
                    <div>Single</div>
                </div>
            </div>
        </div>
    </div>
</div>