<div class="container-fluid">
    <div class = "loader" *ngIf= "loading">
        <img src = "{{ICON_BASE}}loader.svg">
    </div>
    <ng-container *ngIf= "!loading">
        <div class="profile-wrapper">
            <div class="row">
                <div class="col-sm">
                    <div class="cover-outer">
                        <div class="cover-inner" [ngStyle]= "{ 'background-image': coverPicturePath }">
                            <div class="dp-overlay" (click)= "profileUpload.click()">Change Cover Picture</div>
                            <input class = "fake-file-upload" type="file" #profileUpload (change)= "fileUploaded($event, 'cover')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-picture">
                <img [src]="profilePicturePath" class="img-fluid" (click)= "showFullView(fullPicView)">
                <div class="short-info">
                    <div class="short-info--name">
                        {{ userInfo.name }}
                    </div>
                    <div class="short-info--bio">
                        <span>{{ userInfo.gender }}, </span>
                        <span>{{ userInfo.age }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="details-wrapper">
            <div class="row">
                <div class="col-sm-3">
                    <app-about [profileInfo]= "userInfo"></app-about>
                </div>
                <div class="col-sm-5">
                    <app-blogs></app-blogs>
                </div>
                <div class="col-sm-4">
                    <app-post></app-post>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<!--PROFILE PICTURE FULL VIEW-->
<ng-template #fullPicView>
    <div class="dp-wrapper">
        <img [src]="profilePicturePath" class="dp-fullview img-fluid">
        <div class="dp-overlay" (click)= "profileUpload.click()">Change Profile Picture</div>
        <input class = "fake-file-upload" type="file" #profileUpload (change)= "fileUploaded($event, 'dp')">
    </div>
</ng-template>

<ng-template #profileUploadError>
    <h1 mat-dialog-title>File Upload Error</h1>
    <div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
    <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    </div>
</ng-template>
