.generic-info-wrapper {
    text-align: center;
    margin-top: 2rem;
    padding: 0 2rem;

    i {
        font-size: 4rem;
    }
    .fa-times-circle {
        color: #dc3545;
    }
    .fa-check-circle {
        color: #00FF00;
    }

    .header-wrapper {
        margin-top: 1rem;
        font-size: 1.6rem;
        font-weight: 900;
    }

    button {
        width: 100%;
        margin-top: 1rem;
        background-color: var(--color-primary-green);
        color: var(--color-primary-white);
        height: 2.6rem;
    }
}
