.mat-form-field {
    display: block;
    margin-bottom: 0.5rem;
}

.mat-form-field-label {
    font-family: 'Raleway';
}

.mat-raised-button {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.6rem;
    margin-top: 2rem;
    background-color: dodgerblue;
    color: #ffffff;
    border-radius: 0;
}

::ng-deep .ck-editor {
    box-shadow: 0px 3px 7px #efefef !important;
}

::ng-deep .ck-toolbar {
    border: 0 !important;
}

::ng-deep .ck-content {
    border: 0 !important;
    height: 13rem !important;
}
.image-background {
    background-image: url('/assets/images/Page-Turner.svg');
    height: 8rem;
    background-size: cover;
    margin-bottom: 1.5px;
    background-repeat: no-repeat;
}
.custom-alert {
    padding: 0.6rem;
    margin-top: 2rem;
    border-radius: 0;
}
.posts-wrapper {
    padding: 8px;

    .title {
        margin-bottom: 1rem;
        text-align: center;
        padding: 1rem;
        background-color: black;
        color: var(--color-primary-white);
        position: relative;

        hr {
            border-top: 1px solid #fff;
            margin-top: 0.5rem;
        }

        span {
            font-weight: 900;
            letter-spacing: 1px;
            font-size: 1.3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: black;
        }
    }
}

hr {
    margin-bottom: 0.5rem;
}

@media only screen
and (max-width: 450px)
and (orientation: portrait) {
    .card-container {
        height: auto;
    }
}
