<div class="container-fluid card-container override-scroll">
    <div class="image-background"></div>
    <hr>
    <div class = "loader" *ngIf= "loading">
        <img src = "{{ICON_BASE}}loader.svg">
    </div>
    <div class="posts-wrapper" *ngIf= "!loading">
        <div class="title">
            <hr>
            <span>CREATE</span>
        </div>
        <form #createFormRef = "ngForm" [formGroup]= "postForm" (ngSubmit)= "submit()">
            <mat-form-field appearance="fill">
                <mat-label>Enter Title Here</mat-label>
                <input formControlName= "title" matInput>
            </mat-form-field>
            <ckeditor [editor]="Editor" formControlName= "content"></ckeditor>
            <button *ngIf= "!loading && !showSuccessMessage" mat-raised-button>Submit</button>
            <div class="alert alert-success custom-alert" role="alert" *ngIf= "showSuccessMessage && !loading">
                Your post has been submitted successfully !
            </div>
        </form>
    </div>
</div>