<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <img class="img-fluid" src="{{ICON_BASE}}background_cropped.jpg">
    </div>
    <div class="col-sm">
      <div class="container custom-wrapper">
        <div class="row">
          <div class="col-sm">
            <div [@routeAnimations]="prepareRoute(outlet)" >
              <router-outlet #outlet= "outlet"></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>