.custom-wrapper {
    padding: 2rem 6rem;
}

.padding-fix {
    padding: 0 !important;
}

@media only screen
and (max-width: 450px)
and (orientation: portrait) {
    .custom-wrapper {
        padding: 2rem 1rem;
    }    
}