<div class="header mt-3">
    <img src="{{ICON_BASE}}blogster-logo.png" alt="" class="header_logo">
    <ul class="header_list">
        <li class="header_item">
            <a routerLink= "/home" routerLinkActive= "active">Home</a>
        </li>
        <li class="header_item" routerLinkActive= "active" >
            <a routerLink= "/auth" routerLinkActive= "active">Login</a>
        </li>
        <li class="header_item" routerLinkActive= "active" >
            <a routerLink= "/contact" routerLinkActive= "active">Contact</a>
        </li>
    </ul>
</div>