
.navbar-custom {
    box-shadow: 0 5px 10px #efefef;
    color: var(--color-primary-white);
    font-size: 1.3rem;
    a {
        padding: 0.75rem 2rem 0.75rem 1rem;
        position: relative;
        color: var(--color-primary-white);
        &:hover {
            color: var(--color-primary-white); // Override bootstrap hover
        }
        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '.';
            color: transparent;
            background: var(--color-primary-white);
            height: 1px;
        }
        &:hover:after {
            transition: all cubic-bezier(0.7, 0, 0, 1) 1s;
            width: 100%;
        }
    }
}
.navbar {
    padding: 0.85rem !important;
}
.mr-half {
    margin-right: 0.5rem;
}
.brand {
    font-size: 2.3rem;
    margin-left: 1rem !important;
    color: var(--color-primary-orange);
}
.active {
    background-color: var(--color-primary-white);
    color: #000 !important;
    transition: all 1s;
    border-radius: 2px;
    i {
        color: var(--color-primary-blue);
    }
}

// For toggler to be white
.navbar-light .navbar-toggler-icon { 	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

// Media Queries
@media screen and (max-width: 450px) {
    .navbar-nav {
        margin-top: 1.2rem;
    }
    .brand {
        margin-top: 3px;
    }
}