<div class="footer">
    <div class="footer_upper">
        <div class="footer_about">
            <div class="footer_about--header heading">
                About
            </div>
            <p class="footer_about--text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Pariatur soluta nemo in commodi nihil vero,nimi. Beatae.
            </p>
        </div>
        <hr *ngIf= "isMobile">
        <div class="footer_credits">
            <div class="footer_credits--header heading">
                Credits
            </div>
            <div class="footer_credits--text">
                <ul>
                    <li>  
                        Human work icon man laptop desk 
                        | Downloaded from All-free-download.com
                        | <a href="https://all-free-download.com/free-vector/download/human-work-icon-man-laptop-desk-sketch_6844357.html">
                            Click here to navigate to source
                         </a>
                    </li>
                    <li>
                        Color pencil on white background
                        | Downloaded from Vectorstock.com
                        | <a href="https://www.vectorstock.com/royalty-free-vector/color-pencil-on-white-background-with-copy-space-vector-11597630">
                            Click here to navigate to source
                         </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr *ngIf= "isMobile">
        <div class="footer_links">
            <div class="footer_links--header heading">
                Quick Links
            </div>
            <div class="footer_links--text">
                <ul>
                    <li>Contact Us</li>
                    <li>Sign In</li>
                    <li>Blogs</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer_lower">
        <div class="footer_copyright">
            <p class="footer_copyright--text">
                Copyright © 2017 All Rights Reserved by Blogster.
            </p>
        </div>
        <div class="footer_social">
            <ul class="footer_social--icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                <li><a class ="github" href=""><i class="fab fa-github"></i></a></li>
              </ul>
        </div>
    </div>
</div>