.footer {
    padding: 2.5rem 6rem;
    background-color: var(--color-footer-background);
    font-size: 1.2rem;
    line-height: 24px;
    color: var(--color-footer-text);

    ul {
        list-style: none;
        padding: 0;
    }

    .heading {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--color-primary-white);
        margin-bottom: 1rem;
    }
    hr {
        border-top-color: var(--color-footer-hr);
        opacity: 0.5;
    }
    &_upper {
        display: flex;
        .footer_about {
            flex-basis: 30%;
            &--text {
                width: 75%;
            }
        }

        .footer_credits {
            flex-basis: 45%;
            
            ul {
                list-style: disc;
            }
            li:not(:last-child) {
                margin-bottom: 0.5rem;
            }
            a {
                color: var(--color-primary-white);
            }
            &--text {
                width: 70%;
            }
        }

        .footer_links {
            flex-basis: 25%;
        }
    }

    &_lower {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
    }
}

// Media queries for footer
@media only screen
and (max-width: 450px)
and (orientation: portrait) {
    .footer {
        padding: 1.5rem 2rem;

        &_upper {
            flex-direction: column;
        }

        &_lower {
            flex-wrap: wrap;
        }
    }

    hr {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .footer_credits--text {
        width: 90% !important;
    }

    .footer_about--text {
        width: 90% !important;
    }
}