:root {
    // Primary Colors
    --color-primary-blue: #0069d9;
    --color-primary-yellow: #ffde00;
    --color-primary-white: #ffffff;
    --color-primary-orange: #FF9900;
    --color-teams-blue: #6264A7;
    
    // Shades
    --color-border-grey: #ccceee;

    // Footer Colors
    --color-footer-background: #26272b;
    --color-footer-text: #737373;
    --color-footer-hr: #bbbbbb;

    // Breakpoints
    --mobile: 450px;

}