<div class="search-results">
<div class="container-fluid card-container" #c>
    <div class="blogs-wrapper" *ngIf= "blogsFetched">
        <div class="blogs">
                <div class="blog" *ngFor= "let blog of blogs">
                    <div class="blog_title">
                        {{ blog.title }}
                    </div>
                    <hr>
                    <div class="blog_body">
                        <div class="c_wrapper" [innerHtml]= "blog.content | shorten: alphabetCount">
                        </div>
                        <span class="view-more" (click)= "viewMore(blog)"
                        *ngIf= "blog.content.length > alphabetCount">
                            VIEW MORE
                            <i class="fas fa-angle-double-right"></i>
                        </span>
                    </div>
                    <hr>
                    <div class="blog_footer row">
                        <div class="col-sm-2 icon-wrapper">
                            <i class="fas fa-thumbs-up like" [ngStyle]= "{'color': blog.liked ? '#0069d9' : '#999999'}" (click) = "toggleLike(blog)"></i>
                            <span>{{ blog.like }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-loader" *ngIf= "showScrollLoader">
                <img src="{{ICON_BASE}}hLoader.svg">
            </div>
            <mat-paginator [length]="dataLength"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent($event)">
            </mat-paginator>
        </div>
    </div>
</div>